.btn {
    display: block;
    width: 100%;
    background: var(--grad-1);
    padding: 0.75rem;
    text-align: center;
    color: var(--white);
    border: none;
    border-radius: 0.375rem;
    font-weight: 600;
    transition: all 0.9s;
    &:hover {
      background: var(--grad-2);
    }
  }