@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Beyond";
  src: url('../assets/fonts/beyond_the_mountains.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

:root {
  --primary:  #8d4fff; 
  --secondary: #fa9e1b; 
  --black: #111827;; 
  --softBlack: #19233a; 
  --white: #f6f5f3; 
  --softWhite: #9ca3af; 
  --grad-1: linear-gradient(90deg,#8d4fff, #fa9e1b); 
  --grad-2: linear-gradient(135deg, #fa9e1b, #8d4fff); 
  --beyond: "Beyond" , sans-serif;
}

body {
  
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
